pkgbase = bakaxl-bin
	pkgdesc = BakaXL Minecraft Launcher (official pre-built .deb repackaged for Arch)
	pkgver = 4.0.0+bunny
	pkgrel = 1
	url = https://www.bakaxl.com
	arch = x86_64
	license = custom
	makedepends = dpkg
	depends = 
	provides = bakaxl
	conflicts = bakaxl
	source = https://github.com/BakaXL-Launcher/BakaXL/releases/download/4.0.0+bunny-a03f125/bakaxl-4.0.0+bunny-a03f125-linux-x86_64.deb
	source = LICENSE
	sha256sums = 8ed0f18fd1c00e2cf61f822412ef6b83b4b867883860672fee84e0fee1f337af
	sha256sums = SKIP

pkgname = bakaxl-bin
